.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.contactItem {
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.contactDetails {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.contactName {
  font-weight: bold;
  margin-right: 10px;
}

.contactNumber {
  color: rgb(0, 0, 0);
}

.deleteButton {
  width: 70px;
  background-color: #d0e2ba; 
  color: rgb(0, 0, 0);
  border: solid 2px rgb(157, 192, 145);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: rgb(136, 170, 136);
}
