.contactForm {
  display: flex;
  align-items: center;
  width: 320px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #8b8b8b; /* Hafif bir sınır ekler */
  border-radius: 8px; /* Köşeleri yuvarlatır */
  background-color: rgba(255, 255, 255, 0.5);
}

.error {
  color: red;
  display: flex;
  align-items: baseline;
}

label {
  font-size: 16px;
  display: flex;
  align-items: baseline;
  color: #000000; /* Etiket rengi */
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #adadad;
  border-radius: 4px;
}

button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d0e2ba; /* Buton arka planı yeşil */
  color: rgb(0, 0, 0);
  border: solid 2px rgb(136, 167, 125);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(136, 170, 136);
}
