.link {
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
}
.link:hover {
   background-color: #070705ee;
    color: #242424;
}
.active{
    background-color: #2b522eee;
    color: #242424;
    text-decoration: underline;
}